header{
    background-color: #e62429;
    display: flex;
    justify-content: center;

    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            width: 100px;
        }

        &__button{
            cursor: pointer;
            color: black;
            align-items: center;
            font-size: 24px;

            &:hover{
                color: white;
                text-shadow: 0px 10px 10px  white;
                transition: color 0.3s ease, text-shadow 0.3s ease;
            }

            &__active{
                cursor: pointer;
                color: white;
                align-items: center;
                font-size: 24px;
            }
        }
    }
}   
