.search{
    margin: 20px 10%;
    display: flex;
    justify-content: center;

    input{
        width: 100%;
        border: 2px solid black;
        border-radius: 20px;
        padding: 20px 10px;
    }
}